.container
  .row
    .col-lg-10.col-lg-offset-1.text-center
      %h2= t("activerecord.models.taxi") + t("views.index")

%section
  .container
    .row
      .col-lg-12.text-center
        %h2= @taxi.name
        = link_to t("links.edit"), edit_taxi_path(@taxi), class: "btn btn-default"
        = link_to t("links.destroy"), @taxi, method: :delete, data: { confirm: t("messages.are_you_sure") }, class: "btn btn-default"
      %hr.small
    / /.row
  / /.container

.text-center
  = link_to t("links.back"), taxis_path, class: "btn btn-default"
