= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  .field
    %p
      = label_tag t("activerecord.models.location")
      .big= @location.name
    = f.label :address
    = f.text_field :address, class: "form-control"
    = f.label :amount
    = f.text_field :amount, class: "form-control"
  -# .field
  -#   = f.label :latitude
  -#   = f.text_field :latitude, class: "form-control"
  -# .field
  -#   = f.label :longitude
  -#   = f.text_field :longitude, class: "form-control"
  .field
    = f.label :taxi
    = f.fields_for :taxis do |taxi_form|
      - if @order.taxis.first
        = taxi_form.select :taxi_id, options_for_select(@taxis, @order.taxis.first.id), {include_blank: true}, class: "form-control", tabindex: 1, autofocus: true
      - else
        = taxi_form.select :taxi_id, options_for_select(@taxis), {include_blank: true}, class: "form-control", tabindex: 1, autofocus: true
  .field
    = f.label :keyword
    = f.text_field :keyword, class: "form-control"
  .field
    = f.label :created_at
    = @order.created_at.try(:strftime, "%m月%d日 %H:%M")
  .field
    = f.label :time
    = f.text_field :time, class: "form-control"
  .field
    = f.label :assigned_at
    - if @order.assigned_at.blank?
      （分後）
      = f.text_field :assigned_at, class: "form-control", tabindex: 2
    - else
      = f.text_field :assigned_at, class: "form-control datetimepicker", value: @order.assigned_at.try(:strftime, "%m月%d日 %H:%M"), tabindex: 2
  -# .field
  -#   = f.label :picked_up_at
  -#   = f.text_field :picked_up_at, class: "form-control datetimepicker"
  -# .field
  -#   = f.label :arrived_at
  -#   = f.text_field :arrived_at, class: "form-control datetimepicker"
  = f.hidden_field :device_token

  .actions.text-center
    = link_to t("links.back"), orders_path, class: "btn btn-lg btn-default"
    = f.submit id: "update",  class: "btn btn-lg btn-primary"
