= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :address
    = f.text_field :address, class: "form-control"
  .field
    = f.label :latitude
    = f.text_field :latitude, class: "form-control"
  .field
    = f.label :longitude
    = f.text_field :longitude, class: "form-control"
  .field
    = f.label :keyword
    = f.text_field :keyword, class: "form-control"
  .field
    = f.label :taxi
    = f.fields_for :taxis do |taxi_form|
      - if @order.taxis.first
        = taxi_form.select :taxi_id, options_for_select(@taxis, @order.taxis.first.id), {include_blank: true}, class: "form-control"
      - else
        = taxi_form.select :taxi_id, options_for_select(@taxis), {include_blank: true}, class: "form-control"
    = f.hidden_field :device_token
  .field
    = f.label :assigned_at
    = f.text_field :assigned_at, class: "form-control datetimepicker"
  .field
    = f.label :picked_up_at
    = f.text_field :picked_up_at, class: "form-control datetimepicker"
  .field
    = f.label :arrived_at
    = f.text_field :arrived_at, class: "form-control datetimepicker"
  .actions
    = f.submit id: "order_submit",  class: "btn btn-default"
