%tr{class: order.deleted? && "danger" || order.assigned_at.blank? && "info"}
  %td= order.location
  %td= order.address
  %td= "#{order.amount}台"
  %td= order.taxis.first.try(:name)
  -# %td= order.keyword
  %td= order.created_at.strftime("%m月%d日 %H時%M分")
  %td= order.time.strftime("%m月%d日 %H時%M分") rescue nil
  %td= order.assigned_at.strftime("%m月%d日 %H時%M分") if order.assigned_at
  -# %td= order.picked_up_at.strftime("%m月%d日 %H時%M分") if order.picked_up_at
  -# %td= order.arrived_at.strftime("%m月%d日 %H時%M分") if order.arrived_at
  %td.text-center
    - if order.deleted?
      = t("activerecord.attributes.order.deleted_at") if order.deleted?
    - else
      = link_to t("links.show"), order, class: "btn btn-sm btn-info"
      = link_to t("links.edit"), edit_order_path(order), class: "btn btn-sm btn-success"
      = link_to t("links.destroy"), order, method: :delete, data: { confirm: t("messages.are_you_sure") }, class: "btn btn-sm btn-danger"
