.container
  .row
    .col-lg-10.col-lg-offset-1.text-center
      %h1.title= t("activerecord.models.order") + t("views.index")

%section
  .container
    = paginate @orders

    %table.table
      %tr
        %th= t("activerecord.attributes.order.address")
        %th= t("activerecord.attributes.order.amount")
        %th= t("activerecord.attributes.order.time")
        %th= t("activerecord.attributes.order.keyword")
        %th= t("activerecord.attributes.order.taxis")
        %th= t("activerecord.attributes.order.assigned_at")
        -# %th= t("activerecord.attributes.order.picked_up_at")
        -# %th= t("activerecord.attributes.order.arrived_at")
        %th
      = render @orders

    = paginate @orders
  / /.container

-# .text-center= link_to t("activerecord.models.order") + t("links.new"), new_order_path, class: "btn btn-default"
