.container
  .row
    .col-lg-10.col-lg-offset-1
      %h2.title.text-center= t("links.order.new")

      = form_for @order, html: {"data-type" => "json", class: "form-signin"} do |f|
        = f.hidden_field :latitude
        = f.hidden_field :longitude
        = f.hidden_field :device_token, value: (0...40).map{ ("A".."Z").to_a[rand(26)] }.join
        .text-center= image_submit_tag "/button.png", id: "send"

%audio#sound-file1{preload: "auto"}
  %source{src: "/sounds/sq_lock.mp3", type: "audio/mp3"}

:javascript
  // ユーザーの端末がGeoLocation APIに対応しているかの判定

  // 対応している場合
  if( navigator.geolocation )
  {
    // 現在地を取得
    navigator.geolocation.getCurrentPosition(

      // [第1引数] 取得に成功した場合の関数
      function( position )
      {
        // 取得したデータの整理
        var data = position.coords ;

        // データの整理
        var lat = data.latitude ;
        var lng = data.longitude ;
        var alt = data.altitude ;
        var accLatlng = data.accuracy ;
        var accAlt = data.altitudeAccuracy ;
        var heading = data.heading ;			//0=北,90=東,180=南,270=西
        var speed = data.speed ;

        // アラート表示
        // alert( "あなたの現在位置は、\n[" + lat + "," + lng + "]\nです。" ) ;

        // HTMLへの書き出し
        document.getElementById( 'order_latitude' ).value = lat
        document.getElementById( 'order_longitude' ).value = lng
        },

      // [第2引数] 取得に失敗した場合の関数
      function( error )
      {
        // エラーコード(error.code)の番号
        // 0:UNKNOWN_ERROR				原因不明のエラー
        // 1:PERMISSION_DENIED			利用者が位置情報の取得を許可しなかった
        // 2:POSITION_UNAVAILABLE		電波状況などで位置情報が取得できなかった
        // 3:TIMEOUT					位置情報の取得に時間がかかり過ぎた…

        // エラー番号に対応したメッセージ
        var errorInfo = [
          "原因不明のエラーが発生しました…。" ,
          "位置情報の取得が許可されませんでした…。" ,
          "電波状況などで位置情報が取得できませんでした…。" ,
          "位置情報の取得に時間がかかり過ぎてタイムアウトしました…。"
        ] ;

        // エラー番号
        var errorNo = error.code ;

        // エラーメッセージ
        var errorMessage = "[エラー番号: " + errorNo + "]\n" + errorInfo[ errorNo ] ;

        // アラート表示
        alert( errorMessage ) ;
      } ,

      // [第3引数] オプション
      {
        "enableHighAccuracy": false,
        "timeout": 8000,
        "maximumAge": 2000,
      }

    ) ;
  }

  // 対応していない場合
  else
  {
    // エラーメッセージ
    var errorMessage = "お使いの端末は、GeoLacation APIに対応していません。" ;

    // アラート表示
    alert( errorMessage ) ;
  }
