.container
  .row
    .col-lg-10.col-lg-offset-1.text-center
      - if user_signed_in? && current_user.admin
        %h1.title 配車依頼情報
      - elsif !@order.taxis.blank? && !@order.assigned_at.blank?
        %h1#title.title 配車が確定しました。
        .sub-title
          #sub-title 車両到着時に合言葉の確認をお願いいたします。
      - else
        %h1#title.title 配車のご依頼を承りました。
        .sub-title
          #sub-title 情報が更新されるまで、しばらくこのままでお待ちください。

%section
  .container
    .row
      .col-lg-8.col-lg-offset-2
        %table.table
          %tr
            %th= label_tag t("activerecord.models.location")
            %td.big= @location.name
          %tr
            %th.col-lg-3= t("activerecord.attributes.order.address")
            %td.big= @order.address
          %tr
            %th= t("activerecord.attributes.order.amount")
            %td.big= "#{@order.amount}台"
          %tr
            %th= t("activerecord.attributes.order.taxi")
            %td#taxi.big= @order.taxis.first.try(:name)
          %tr
            %th= t("activerecord.attributes.order.keyword")
            %td#keyword.big= @order.keyword
          %tr
            %th= t("activerecord.attributes.order.created_at")
            %td.big= @order.created_at.strftime("%m月%d日 %H時%M分") rescue nil
          %tr
            %th= t("activerecord.attributes.order.time")
            %td.big= @order.time.strftime("%m月%d日 %H時%M分") rescue nil
          %tr
            %th= t("activerecord.attributes.order.assigned_at")
            - if current_user.admin?
              %td#assigned_at.big= @order.assigned_at.strftime("%m月%d日 %H時%M分") rescue nil
            - else
              %td#assigned_at.big= @order.assigned_at.strftime("%m月%d日 %H時%M分") rescue nil
          -# - if current_user.admin?
          -#   %tr
          -#     %th= t("activerecord.attributes.order.picked_up_at")
          -#     %td#assigned_at= @order.picked_up_at.strftime("%m月%d日 %m月%d日 %H時%M分") rescue nil
          -#   %tr
          -#     %th= t("activerecord.attributes.order.arrived_at")
          -#     %td#assigned_at= @order.arrived_at.strftime("%m月%d日 %m月%d日 %H時%M分") rescue nil
        - if user_signed_in? && current_user.admin.nil?
          = hidden_field_tag "device_token", @order.device_token
.container
  .row
    - unless current_user.admin?
      #loading.text-center.hidden= image_tag "/loading.gif"
    .col-lg-10.col-lg-offset-1.text-center
      .actions.form-inline
        .form-group
          - if current_user.admin?
            = link_to t("links.back"), orders_path, class: "btn btn-lg btn-default"
            = link_to t("links.edit"), edit_order_path(@order), class: "btn btn-lg btn-success"
          - else
            #order_back{data: "no-turbolink"}= link_to t("links.order.back"), new_order_path, class: "btn btn-default btn-lg disabled"
        = link_to t("links.order.destroy"), @order, method: :delete, data: { confirm: t("messages.order.destroy") }, id: "destroy", class: "btn btn-lg btn-danger"
      / Map
      %section#contact.map
        %iframe{:frameborder => "0", :height => "100%", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :width => "100%", :src => "https://maps.google.com/maps?hl=ja&ie=UTF8&q=#{@order.address}&output=embed"}
