.container
  .row
    .col-lg-10.col-lg-offset-1.text-center
      - if user_signed_in? && current_user.admin
        %h2.title 配車依頼情報
      - elsif !@order.taxis.blank? && !@order.assigned_at.blank?
        %h2#title.title 配車が確定しました。
        %h3.title
          #sub-title 車両到着時に合言葉の確認をお願いいたします。
      - else
        %h2#title.title 配車のご依頼を承りました。
        %h3.title
          #sub-title 情報が更新されるまで、しばらくこのままでお待ちください。

%section
  .container
    .row
      .col-lg-6.col-lg-offset-3
        %table.table
          %tr
            %th= t("activerecord.attributes.order.address")
            %td= @order.address
          %tr
            %th= t("activerecord.attributes.order.amount")
            %td= @order.amount
          %tr
            %th= t("activerecord.attributes.order.time")
            %td
              = @order.time.strftime("%H:%M") rescue nil
          %tr
            %th= t("activerecord.attributes.order.keyword")
            %td.big= @order.keyword
          %tr
            %th= t("activerecord.attributes.order.taxi")
            %td#taxi.big= @order.taxis.first.try(:name)
          %tr
            %th= t("activerecord.attributes.order.assigned_at")
            - if current_user.admin?
              %td#assigned_at= @order.assigned_at.strftime("%m月%d日 %H:%M") rescue nil
            - else
              %td#assigned_at.big= @order.assigned_at.strftime("%H:%M") rescue nil
          -# - if current_user.admin?
          -#   %tr
          -#     %th= t("activerecord.attributes.order.picked_up_at")
          -#     %td#assigned_at= @order.picked_up_at.strftime("%m月%d日 %H:%M") rescue nil
          -#   %tr
          -#     %th= t("activerecord.attributes.order.arrived_at")
          -#     %td#assigned_at= @order.arrived_at.strftime("%m月%d日 %H:%M") rescue nil
        - if user_signed_in? && current_user.admin.nil?
          = hidden_field_tag "device_token", @order.device_token
.container
  .row
    - unless current_user.admin?
      #loading.text-center.hidden= image_tag "/loading.gif"
    .col-lg-10.col-lg-offset-1.text-center
      - if current_user.admin?
        .actions
          = link_to t("links.edit"), edit_order_path(@order), class: "btn btn-default"
          - if current_user.admin?
            = link_to t("links.back"), orders_path, class: "btn btn-default"
          - else
            %div{data: "no-turbolink"}= link_to t("links.back"), new_order_path, class: "btn btn-default"
        / Map
        %section#contact.map
          -# %iframe{:frameborder => "0", :height => "100%", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :width => "100%", :src => "https://maps.google.com/maps?hl=ja&ie=UTF8&q=#{@order.address}&output=embed"}
      - else
        #order_back= link_to t("links.order.back"), new_order_path, class: "btn btn-default btn-lg disabled"
