.container
  .row
    .col-lg-10.col-lg-offset-1.text-center
      %h2.vertical-margin-50 配車のご依頼を承りました。
      .vertical-margin-50
        %b 情報が更新されるまで、しばらくこのままでお待ちください。

%section
  .container
    .row
      .col-lg-6.col-lg-offset-3
        %table.table
          %tr
            %th= t("activerecord.attributes.order.address")
            %td= @order.address
          %tr
            %th= t("activerecord.attributes.order.keyword")
            %td= @order.keyword
          %tr
            %th= t("activerecord.attributes.order.taxi")
            %td= @order.taxis.first.try(:name)
          %tr
            %th= t("activerecord.attributes.order.assigned_at")
            %td= @order.assigned_at

.container
  .row
    #loading.text-center= image_tag "/loading.gif"
    .col-lg-10.col-lg-offset-1.text-center
      .vertical-margin-50= link_to t("links.order.back"), new_order_path, class: "btn btn-default btn-lg disabled"
